cmcrameri==1.9
numpy==2.2.1
chardet==5.2.0
jsonschema==4.23.0
openpyxl==3.1.5
pandas==2.2.3
plotly==5.24.1
pyarrow==19.0.0
RapidFuzz==3.11.0
requests==2.31.0
scipy==1.15.1
whittaker-eilers==0.2.0
xlrd==2.0.1
zipp==3.15.0
scikit-learn==1.6.1
IPython==8.4.0